<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tools</title>
   
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@latest/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100 text-gray-900">
    <%- include("./partial/header") %>
    <%- include("./partial/nav") %>

    
    <section class="py-20 bg-white text-center">
        <div class="container mx-auto px-4">
            <h1 class="text-3xl font-bold mb-6 text-gray-800">Tools</h1>
            <p class="text-lg text-gray-600">
                Explore our tools <a href="/explore" class="text-teal-500 hover:underline">here</a>.
            </p>
        </div>
    </section>

    <%- include("./partial/footer") %>
</body>
</html>
